.container {
    /* background: pink; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-image: url('/public/background.jpg');
    object-fit: cover;
    opacity: 0.9;
    background-position: right;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.intro {
    /* background: gray; */
    text-align: left;
    line-height: 2;
    font-size: 32px;
    letter-spacing: 1px;
    color: var(--primary-color);

}

.info {
    text-align: left;
    line-height: 1.5;
    font-size: 28px;
    letter-spacing: 1px;
    color: var(--primary-color);
}

@media screen and (max-width: 567px) {
    .intro {
        font-size: var(--font-med);
    }
    .info {
        font-size: var(--font-sm);
    }
}


/* @media screen and (max-width: 375px) {
    .intro {
        font-size: var(--font-med);
    }
    .info {
        font-size: var(--font-sm);
    }
} */