.home__container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: calc(100vh - 250px);
    overflow-x: hidden;
    top: 72px;
    padding: 0 calc(3.5vw + 5px);
    z-index: -1;
    opacity: 1;

}

.overlay {
    background: #020202;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    position: relative;
}

.span {
    color: white;
    width: 100%;
    height: 250px;
    /* background: rebeccapurple; */
    position: absolute;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
}