.App {
  text-align: center;
  width: 100%;
  /* background: red; */
  height: 100vh;
  background-image: url('/public/background.jpg');
  height: 100vh;
  object-fit: cover;
  opacity: 0.9;
  background-position: right;
  background-repeat: no-repeat;
}

