@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body {
  margin: 0;
  font-family: 'Courgette', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  --primary-color: #0a2b38;
  --white-color: #ffffffda;
  --primary-hover: #53c2ef;
  --nav-color: #051f29;
  --nav-hover:  #35b9ee;
  --font-la: 22px;
  --font-med: 18px;
  --font-sm: 14px;
}